<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Responsive Button */
      .menu-btn {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 2;
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- La lupa de busqueda -->
    <!-- Right Nav -->
    <ul class="nav-menu-right">
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </body>
  <hr />
</html>
