<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      /* SHOWCASE */

      .btn {
        cursor: pointer;
        display: inline-block;
        border: 0;
        font-weight: bold;
        padding: 10px 20px;
        background: #262626;
        color: #fff;
        font-size: 15px;
        border: 1px solid #fff;
      }

      .btn:hover {
        opacity: 0.9;
      }

      .showcase {
        width: 100%;
        height: 550px;
        background: url("/showcase2.jpg") no-repeat center center/cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        padding-bottom: 50px;
        margin-bottom: 20px;
        color: #fff;
      }

      .showcase h2,
      .showcase p {
        margin-bottom: 10px;
      }

      .showcase .btn {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <!-- SHOWCASE -->
    <header class="showcase">
      <h2>Big News Today!</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolor
        laudantium rerum, excepturi est praesentium natus qui? Tempora rerum,
        numquam inventore eligendi in, nostrum reprehenderit, eum cumque fugit
        eaque similique!
      </p>
      <a href="#" class="btn">
        SignUp <i class="fas fa-chevron-right"></i>
      </a>
    </header>
  </body>
</html>
